<div class="container page-content py-5">

  <h1>Photo Gallery</h1>

  <p class="mt-4">
    <%= link_to "Upload New Photo", new_photo_path, class: "btn btn-secondary" %>
  </p>

  <div class="photo-grid">
    <% @photos.each do |photo| %>
      <div class="photo-card">
        <% if photo.image.attached? %>

          <%= cl_image_tag(
                photo.image.blob.key,    # public ID
                width: 900, height: 900, crop: :limit,
                angle: :exif,                         # <<< fixes the upside-down issue
                fetch_format: :auto, quality: "auto", # delivery optimization
                loading: "lazy", class: "photo-img",
                alt: photo.title.presence || "Photo"
              ) %>
              
        <% end %>
        <div class="photo-meta-admin">
          <h2><%= photo.title %></h2>
          <% if photo.caption.present? %>
            <p><%= photo.caption %></p>
          <% end %>
          <p><%= photo.image.metadata %>
        </div>
        
        <%= link_to "Edit", edit_photo_path(photo), class: "btn btn-primary btn-sm" %>
      </div>
    <% end %>
  </div>

  <div class="text-center my-4">
    <button class="load-more-btn btn btn-secondary" style="font-family: Libre Franklin">View More</button>
  </div>
  
</div>
