<div class="container page-content py-5">

  <h1>Upload Photo</h1>

  <%= form_with model: @photo, local: true, html: { multipart: true } do |f| %>
    <div class="mb-3">
      <%= f.label :image %>
      <%= f.file_field :image, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :caption %>
      <%= f.text_area :caption, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :tag %>
      <%= f.text_field :tag, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :position %>
      <%= f.number_field :position, class: "form-control" %>
    </div>

    <%= f.submit "Upload", class: "btn btn-primary" %>
  <% end %>

</div>
