<div class="container py-5">

  <div class="vpadding-thick">
    <%= image_tag "hiking/joshua-tree-banner.jpg", alt: "Photo of Wilson Cunningham", class: "hiking-banner" %>
  </div>

  <div class="pt-5">
    <h1 class="sage"><em>Hiking</em></h1>
  </div>

  <div class="py-4">
    <p>
      I have always been passionate about spending time in nature, and hiking has been my favorite way to experience its beauty. It wakes up my senses, grounds me, and instills in me a deep appreciation for silence—something that is sorerly underrated in our society. As I do with most things I enjoy, I set goals for myself in this hobby. Although I have my hiking ambitions, I try to remain cognizant that this is about the journey, not the destination.
    </p>
  </div>

  <div class="row vpadding-thin text-start">
    <div class="col">
      <h3 class="sage"><em>AllTrails</em></h3>
    </div>
    <div class="col-9">
      <p>
        I've logged the bulk of my outdoor adventures on <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://www.alltrails.com/members/wilson-cunningham" target="_blank">AllTrails</a>. To see what I've been up to on the trails, check out my <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://www.alltrails.com/members/wilson-cunningham" target="_blank">profile</a>. Also, I am <em>always</em> looking for new trails and camping spots. If you have any recommendations, please reach out!
      </p>
    </div>
  </div>

  <div>
    <h3 class="sage pt-4 pb-2">
      <em>Gallery</em>
    </h3>
  </div>

  <div class="d-flex justify-content-between">
    <div>
      <%= image_tag "hiking/duck-pass-grass.jpg", alt: "Photo of Wilson Cunningham", class: "gallery" %>
      <p class="caption text-end">
        Duck Pass, Mammoth Lakes, California
      </p>
    </div>
    <div>
      <%= image_tag "hiking/humphreys.jpg", alt: "Photo of Wilson Cunningham", class: "gallery" %>
      <p class="caption text-end">
        Humphreys Peak, Flagstaff, Arizona
      </p>
    </div>
    <div>
      <%= image_tag "hiking/bright-angel.jpg", alt: "Photo of Wilson Cunningham", class: "gallery" %>
      <p class="caption text-end">
        Bright Angel Trail, Grand Canyon, Arizona
      </p>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <div>
      <%= image_tag "hiking/toms-thumb.jpg", alt: "Photo of Wilson Cunningham", class: "gallery" %>
      <p class="caption text-end">
        Tom's Thumb, Scottsdale, Arizona
      </p>
    </div>
    <div>
      <%= image_tag "hiking/see-canyon.jpg", alt: "Photo of Wilson Cunningham", class: "gallery" %>
      <p class="caption text-end">
        See Canyon, Payson, Arizona
      </p>
    </div>
    <div>
      <%= image_tag "hiking/joshua-tree-sunset.jpg", alt: "Photo of Wilson Cunningham", class: "gallery" %>
      <p class="caption text-end">
        Joshua Tree National Park, California
      </p>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <div>
      <%= image_tag "hiking/horton-creek.JPG", alt: "Photo of Wilson Cunningham", class: "gallery" %>
      <p class="caption text-end">
        Horton Creek, Payson, Arizona
      </p>
    </div>
    <div>
      <%= image_tag "hiking/conness-lake.jpg", alt: "Photo of Wilson Cunningham", class: "gallery" %>
      <p class="caption text-end">
        Conness Lakes, Mono County, California
      </p>
    </div>
    <div>
      <%= image_tag "hiking/flatiron-2.jpg", alt: "Photo of Wilson Cunningham", class: "gallery" %>
      <p class="caption text-end">
        Flatiron, Superstition Mountains, Arizona
      </p>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <div>
      <%= image_tag "hiking/sedona-red.JPG", alt: "Photo of Wilson Cunningham", class: "gallery" %>
      <p class="caption text-end">
        Sedona, Arizona
      </p>
    </div>
    <div>
      <%= image_tag "hiking/oak-creek.jpg", alt: "Photo of Wilson Cunningham", class: "gallery" %>
      <p class="caption text-end">
        Oak Creek, Sedona, Arizona
      </p>
    </div>
    <div>
      <%= image_tag "hiking/flatiron-1.jpg", alt: "Photo of Wilson Cunningham", class: "gallery" %>
      <p class="caption text-end">
        Flatiron, Superstition Mountains, Arizona
      </p>
    </div>
  </div>




  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          
          <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag "hiking/sedona-red.JPG", alt: "Photo of Wilson Cunningham", class: "gallery" %>
                <div class="carousel-caption d-none d-md-block">
                  <h5>First slide label</h5>
                  <p>Some representative placeholder content for the first slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <%= image_tag "hiking/oak-creek.jpg", alt: "Photo of Wilson Cunningham", class: "gallery" %>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Second slide label</h5>
                  <p>Some representative placeholder content for the second slide.</p>
                </div>
              </div>
              <div class="carousel-item">
                <%= image_tag "hiking/flatiron-1.jpg", alt: "Photo of Wilson Cunningham", class: "gallery" %>
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</div>
