<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" defer></script>

    <!--Headshot Fade Script-->
    <script>
      window.addEventListener("load", function() {
        document.querySelector(".headshot").classList.add("visible");
      });
    </script>

    <!--Body Fade Script-->
    <script>
      window.addEventListener("load", function() {
        document.querySelector(".page-content").classList.add("fade-in");
      });
    </script>

  </head>

  <body class="bg-dark-grey p-2">

    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark libre-franklin" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="libre-franklin navbar-brand" href="/"><strong>Wilson Cunningham</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="libre-franklin nav-link" href="/hiking">HIKING</a>
            </li>
            <li class="nav-item">
              <a class="libre-franklin nav-link" href="/reading">READING</a>
            </li>
            <li class="nav-item">
              <a class="libre-franklin nav-link" href="/career">CAREER</a>
            </li>

            <% if current_user && current_user.admin? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle libre-franklin" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  ADMIN
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item libre-franklin" href="/admin">Dashboard</a></li>
                  <li><a class="dropdown-item libre-franklin" href="/admin/books">New Book</a></li>
                  <li><a class="dropdown-item libre-franklin" href="/admin/images">Image Form</a></li>
                  <li><a class="dropdown-item libre-franklin" href="/admin/features">Features Form</a></li>
                  <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item libre-franklin" %></li>
                </ul>
              </li>
            <% end %>

          </ul>
        </div>
      </div>
    </nav>

    <div class="m-3">

      <%= yield %>

    </div>

  </body>
</html>
